:root {
    font-size: calc(0.5em + 1vw);
    --main-font: Helvetica, Arial, sans-serif;
    --brand-color: #369;
    --main-bg: #fff;
    --main-color: #000;
}

@media (min-width: 800px) {
    :root {
        font-size: 0.87em;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 1em;
    }
}

body {
    line-height: 1.2;
}

p {
    font-family: var(--main-font, sans-serif);
    color: var(--secondary-color, blue);
}

.about-us {
    font-size: 2em;
}

ul {
    font-size: .8em;
}

ul ul {
    font-size: 1em;
}

.slogan {
    /* 19.2px */
    font-size: 1.2em;
    /* 23.04px */
    padding: 1.2em;
    background-color: #ccc;
}

/* Uses ems for padding and border-radius */
/* Uses 1px for a thin border */
/* Added predictable font-size */
.panel {
    font-size: 1rem;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #999;
    background-color: var(--main-bg);
    color: var(--main-color);
}

/* Removes extra space from the panel top */
/* Styles the heading font using rems for font size */
/* Used ems to make font size scale with .panel */
.panel > h2 {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Compound selector targets elements with both panel and large classes */
.panel .large {
    font-size: 1.2rem;
}

.box {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}

.box-small {
    font-size: 12px;
}

.box-large {
    font-size: 18px;
}

/* Puts a margin between the dark container and preceeding panel */
/* Applies a dark gray background to the dark container */
/* Redefines the --main-bg and --main-color variables within the scope of the container */
.dark {
    margin-top: 2em;
    padding: 1em;
    background-color: #999;
    --main-bg: #333;
    --main-color: #fff;
}

.panel-boxes {
    margin: 2em;
}

.square {
    width: 90vmin;
    height: 90vmin;
    background-color: #369;
}