:root {
    font-size: 0.75em;
}

@media (min-width: 800px) {
    :root {
        font-size: 0.87em;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 1em;
    }
}

/*body {
    font-size: 16px;
}*/

ul {
    font-size: .8em;
}

ul ul {
    font-size: 1em;
}

.slogan {
    /* 19.2px */
    font-size: 1.2em;
    /* 23.04px */
    padding: 1.2em;
    background-color: #ccc;
}

/* Uses ems for padding and border-radius */
/* Uses 1px for a thin border */
/* Added predictable font-size */
.panel {
    font-size: 1rem;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #999;
}

/* Removes extra space from the panel top */
/* Styles the heading font using rems for font size */
/* Used ems to make font size scale with .panel */
.panel > h2 {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Compound selector targets elements with both panel and large classes */
.panel .large {
    font-size: 1.2rem;
}

.box {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}

.box-small {
    font-size: 12px;
}

.box-large {
    font-size: 18px;
}

.panel-boxes {
    margin: 2em;
}