/* Applies border box sizing to root element */
:root {
    box-sizing: border-box;
}

/* Applies border box sizing to all elements and psuedo-elements */
*,
::before,
::after {
    box-sizing: inherit;
}

/* Convert third party component into content-box */
.third-party-component {
    box-sizing: content-box;
}

body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 1em 1.5em;
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
}

/* Fix IE bug */
main {
    display: block;
}

/* Applies flexbox to container */
.container {
    display: flex;
}

/* Items inside flex container don't need floats or display properties */
.main {
    width: 70%;
    background-color: #fff;
    border-radius: .5em;
}

.sidebar {
    width: 30%;
    margin-left: 1.5em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: .5em;
}