/* Applies border box sizing to root element */
:root {
    box-sizing: border-box;
}

/* Applies border box sizing to all elements and psuedo-elements */
*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
}

/* Fix IE bug */
main {
    display: block;
}

/* floats the main column left and sets width at 70% */
/* Corrected alignment with border-box sizing */
.main {
    box-sizing: border-box;
    float: left; 
    width: 70%;
    background-color: #fff;
    border-radius: .5em;
}

/* floats sidebar left and sets the width at 30% */
.sidebar {
    box-sizing: border-box;
    float: left;
    width: 30%;
    padding: 1.5em;
    background-color: #fff;
    border-radius: .5em;
}