/* Global border box fix */
:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

/* Lobotomized owl global margins */
body * + * {
    margin-top: 1.5em;
}

/* Header colors and padding */
header {
    padding: 1em 1.5em;
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
    margin-bottom: 1.5em;
}

/* Main (white container) colors and padding */
.main {
    padding: 0 1.5em;
    background-color: #fff;
    border-radius: .5em;
}

/* Will grow to fill available space, centering element within the outer container */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* Floats each media box to left and sets a width to fit two boxes across page */
/* Adds a right and bottom margin to each media element */
/* Subtracts the margin from the width to avoid unwanted line-wrapping */
.media {
    float: left;
    margin: 0 1.5em 1.5em 0;
    width: calc(50% - 1.5em);
    padding: 1.5em;
    background-color: #eee;
    border-radius: 0.5em;
}

/* Each new row clears the row above */
.media:nth-child(odd) {
    clear: left;
}

.media-image {
    float: left;
}

/* Removes top margin applied by lobotomized owl */
.media-body {
    margin-top: 0;
}

/* Overrides top margin applied by user agent styles */
.media-body h4 {
    margin-top: 0;
}
/* Causes both ::before and ::after pseudo elements to appear */
/* Prevents margins from collapsing through the pseudo elements */
.clearfix::before,
.clearfix::after {
    display: block;
    content: '';
}

/* Only the ::after pseudo element needs to clear floats */
.clearfix::after {
    clear: both;
}